<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Angular Task Manager </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="loginService.currentUserName!=null && loginService.currentUserName=='admin'">
            <a class="nav-link active" aria-current="page" [routerLink]="['/admin','dashboard']">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserName!=null && loginService.currentUserName=='employee'">
            <a class="nav-link" [routerLink]="['/employee','tasks']">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserName!=null && loginService.currentUserName=='admin'">
            <a class="nav-link" [routerLink]="['/admin','projects',0]">Projects</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserName!=null">
            <a class="nav-link" (click)="loginService.Logout()" >Logout</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserName==null">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="loginService.currentUserName==null">
            <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
          </li>
          <li class="nav-item"  *ngIf="loginService.currentUserName!=null">
            <span class="nav-link txt text-warning" >{{loginService.currentUserName}}</span>
          </li>
        </ul>
        <form class="d-flex">
            <span class="input-group-text" id="search" ><i class="fa fa-search"></i></span>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid" [@routeAnimations]="getState(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
 