<h5>Projects List
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:34px" *ngIf="showLoading"></i>
</h5>
<div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="row mb-3">
        <label for="drpSearchBy" class="col-sm-2 col-form-label text-end">Search By</label>
        <div class="col-sm-4">
          <select id="drpSearchBy" class="form-select form-select-sm" name="SearchBy" [(ngModel)]="searchBy" >
              <option value="projectID" >Project ID</option>
              <option value="projectName" >Project Name</option>
              <option value="dateOfStart" >Date Of Start</option>
              <option value="teamSize" >Team Size</option>
          </select>
        </div>
        <label for="textSearchText" class="col-sm-2 col-form-label text-end">Search:</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-select-sm"
              id="txtSearchText"
              name="SearchText"
              [(ngModel)]="searchText"
              (keyup)="onSearchTextKeyup($event)"
            />
            <!-- <div class="input-group-append" (click)="onSearchClick()">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#AddModal" (click)="onNewClick($event)">
            Create New Project
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-secondary btn-sm" (click)="onHideShowDetails($event)" >Hide/Show Details </button>
        </div>
        <div class="col-sm-8">
          <input type="checkbox" id="isAllChecked" name="isAllChecked" value="true" 
              [(ngModel)]="isAllChecked" (change)="isAllCheckedChange($event)" class="custom-control-input"  >
              <label for="isAllCheckedChange" class="custom-control-label">Select All</label>
        </div>
      </div>
      <div class="row mb-3" >
        <div class="col-md-4 mb-1 projectcard" *ngFor="let project of projects|filter:searchBy:searchText | paging : currentPageIndex : pageSize;let i=index" >
          <app-project #prj [currentProject]="project" [recordIndex]="i" (editClick)="onEditClick($event, i)" (deleteClick)="onDeleteClick($event, i)"  >
            <app-check-box-printer #selectionBox></app-check-box-printer>
          </app-project>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <nav aria-label="...">
            <ul class="pagination justify-content-center pagination-sm">
              <li *ngFor="let page of pages" (click)="onPageIndexClicked(page.pageIndex)" [ngClass]="{'active':page.pageIndex == currentPageIndex}" class="page-item">
                <span class="page-link" >{{page.pageIndex + 1}}</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>

<form #newForm="ngForm" novalidate="novalidate" appClientLocationStatusValidator>
  <!-- Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group row mb-3">
                <label for="txtNewProjectId"  class="col-sm-3 col-form-lable">Project ID</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="newProject.projectID" name="ProjectID" id="txtNewProjectId"  #prjID class="form-control"
                      placeholder="Project ID" #newProjectID="ngModel" required="required" pattern="^[0-9]*$"  appProjectIDUniqueValidator 
                      [ngClass]="{'is-invalid': newProjectID.invalid && ( newProjectID.touched || newProjectID.dirty || newForm.submitted),
                                  'is-valid': newProjectID.valid &&( newProjectID.touched || newProjectID.dirty || newForm.submitted )
                                }" >
                    
                    <span class="text-danger" *ngif="newProjectID.invalid && (newProjectID.touched || newProjectID.dirty || newForm.submitted) 
                              && newProjectID.errors!['required']" >Project ID can't be blank</span>
                    <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.touched || newProjectID.dirty || newForm.submitted) 
                              && newProjectID.errors!['pattern']">Project ID should contain numbers only</span>
                  
                    <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || newForm.submitted) 
                              && newProjectID.errors!['uniqueProjectID']">Duplicate Project ID</span>
                </div>
            </div>
            <div class="form-group row mb-3">
              <label for="txtNewProjectName" class="col-sm-3 col-form-lable">Project Name</label>
              <div class="col-sm-9">
                  <input type="text"  [(ngModel)]="newProject.projectName" name="ProjectName" id="txtNewProjectName" class="form-control" 
                    placeholder="Project Name" #newProjectName="ngModel" required="required" pattern="^[A-Za-Z0-9 /-]*$" minlength="3" maxlength="30"
                    [ngClass]="{'is-invalid': newProjectName.invalid && (newProjectName.touched || newProjectName.dirty || newForm.submitted),
                                'is-valid':newProjectName.valid && (newProjectName.touched || newProjectName.dirty ||newForm.submitted)
                            }" >
                    <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.touched || newProjectName.dirty || newForm.submitted)
                            && newProjectName.errors!['required']" >Project Name can't be blank</span>

                    <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.touched || newProjectName.dirty || newForm.submitted)
                            && newProjectName.errors!['pattern']" >Project Name can contain alphabets, digits, dot, hyphen or space only</span>

                    <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.touched || newProjectName.dirty || newForm.submitted)
                            && newProjectName.errors!['minlength']" >Project name should be at least 3 characters long</span>

              </div>
          </div>
          <div class="form-group row mb-3">
              <label for="txtNewDateOfStart" class="col-sm-3 col-form-lable">Date Of Start</label>
              <div class="col-sm-9">
                  <input type="date" [(ngModel)]="newProject.dateOfStart" name="DateOfStart" id="txtNewDateOfStart" class="form-control" 
                    placeholder="dd/mm/yyyy" #newDateOfStart="ngModel" required="required" 
                    [ngClass]="{'is-invalid': newDateOfStart.invalid && (newDateOfStart.touched || newDateOfStart.dirty || newForm.submitted),
                                 'is-valid': newDateOfStart.valid && (newDateOfStart.touched || newDateOfStart.dirty || newForm.submitted)
                            }" >
                  
                  <span class="text-danger" *ngIf="newDateOfStart.invalid && (newDateOfStart.touched || newDateOfStart.dirty || newForm.submitted) 
                          && newDateOfStart.errors!['required']" >Date of Start can't be blank</span>
              </div>
          </div>
          <div class="form-group row mb-3">
              <label for="txtTeamSize" class="col-sm-3 col-form-lable">Team Size</label>
              <div class="col-sm-9">
                <input type="text" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size" 
                    name="TeamSize" [(ngModel)]="newProject.teamSize" pattern="^[0-9]*$" maxlength="7" #newTeamSize="ngModel" appTeamSizeValidator="5"
                    [ngClass]="{ 'is-invalid': newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted), 
                                  'is-valid': newTeamSize.valid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) }">

                <span class="text-danger" *ngIf="newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) 
                    && newTeamSize.errors!['pattern']">Team Size should be a number</span>
                
                <span class="text-danger" *ngIf="newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) 
                    && newTeamSize.errors!['divisible']">Team Size should be divisble by 5</span>
              </div>
          </div>
          <div class="form-group row mb-3">
              <label class="col-sm-4 col-form-label" >&nbsp;</label>
              <div class="col-sm-8">
                <div class="form-check">
                    <input type="checkbox" id="chkNewActive" value="true" class="form-check-input" 
                        [(ngModel)]="newProject.active" name="active">
                    <label class="form-check-label" for="chkNewActive" >Active</label>
                </div>
              </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label" for="rbNewStatusInForce">Status</label>
            <div class="col-sm-8">
                <div class="form-check form-check-inline">
                    <input type="radio" id="rbNewStatusInForce" value="In Force" class="form-check-input"
                      name="Status" [(ngModel)]="newProject.status" #newStatusInForce="ngModel" required="required">
                    <label for="rbNewStatusInForce" class="form-check-label">In Force</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="rbNewStatusSupport" value="Support" class="form-check-input"
                      name="Status" [(ngModel)]="newProject.status" #NewStatusSupport="ngModel" required="required">
                    <label for="rbNewStatusSupport" class="form-check-label">Support</label>
                </div>
                <span class="text-danger" *ngif="newStatusInForce.invalid &&(newStatusInForce.touched ||newStatusInForce.dirty ||newForm.submitted)
                    && newStatusInForce.errors!['required'] ">Please select status</span>
            </div>
          </div>
          <div class="form-group row mb-3">
              <label class="col-sm-4 col-from-label" for="drpNewClientLocation">Client Location</label>
              <div class="col-sm-8">
                <select id="drpNewClientLocation" class="form-select form-select-sm" name="ClientLocation" 
                    [(ngModel)]="newProject.clientLocationID" #newClientLocationID="ngModel" required="required"
                    [ngClass]="{'is-invalid':newClientLocationID.invalid &&(newClientLocationID.touched || newClientLocationID.dirty || newForm.submitted),
                                'is-valid':newClientLocationID.valid && (newClientLocationID.touched || newClientLocationID.dirty || newForm.submitted)
                              }" >
                      <option value="null">Please Select</option>
                      <option *ngFor="let clientLocation of clientLocations | async" [value]="clientLocation.clientLocationID" >
                        {{clientLocation.clientLocationName}} 
                      </option>
                </select>
                <span class="text-danger" *ngIf="newClientLocationID.invalid && (newClientLocationID.touched || newClientLocationID.dirty || newForm.submitted)
                    && newClientLocationID.errors!['required'] " >Please select client location</span>
                
                <span class="text-danger" *ngIf="newForm.invalid && (newForm.dirty || newForm.touched || newForm.submitted) 
                    && (newForm.errors? newForm.errors!['clientLocationStatus'] : false)">Support projects are not allowed at Tokyo</span>  
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="newFormCancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onSaveClick()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>


<form #editForm="ngForm" novalidate="novalidate" appClientLocationStatusValidator>
    <!-- Edit Modal -->
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group row mb-3">
                  <label for="txtEditProjectId" class="col-sm-3 col-form-lable">Project ID</label>
                  <div class="col-sm-9">
                      <input type="text" [(ngModel)]="editProject.projectID" name="ProjectID" id="txtEditProjectId" class="form-control form-control-palin-text" disabled="disabled"  
                        placeholder="Project ID" required="required" pattern="^[0-9]*$" #editProjectID="ngModel" appProjectIDUniqueValidator 
                        [ngClass]="{'is-invalid': editProjectID.invalid && ( editProjectID.touched || editProjectID.dirty || editForm.submitted),
                                    'is-valid': editProjectID.valid &&( editProjectID.touched || editProjectID.dirty || editForm.submitted )
                                  }" >
                  </div>
                
                <span class="text-danger" *ngif="editProjectID.invalid && (editProjectID.touched || editProjectID.dirty || editForm.submitted) 
                          && editProjectID.errors!['required']" >Project ID can't be blank</span>
                <span class="text-danger" *ngIf="editProjectID.invalid && (editProjectID.touched || editProjectID.dirty || editForm.submitted) 
                          && editProjectID.errors!['pattern']">Project ID should contain numbers only</span>
                <span class="text-danger" *ngIf="editProjectID.invalid && (editProjectID.dirty || editProjectID.touched || editForm.submitted) 
                          && editProjectID.errors!['uniqueProjectID']">Duplicate Project ID</span>
              </div>
              <div class="form-group row mb-3">
                <label for="txtEditProjectName" class="col-sm-3 col-form-lable">Project Name</label>
                <div class="col-sm-9">
                    <input type="text" #prjEName [(ngModel)]="editProject.projectName" name="ProjectName" id="txtEditProjectName" class="form-control" 
                        placeholder="Project Name" #editProjectName="ngModel" required="required" pattern="^[A-Za-Z0-9 /-]*$" minlength="3" maxlength="30"
                        [ngClass]="{'is-invalid': editProjectName.invalid && (editProjectName.touched || editProjectName.dirty || editForm.submitted),
                                    'is-valid':editProjectName.valid && (editProjectName.touched || editProjectName.dirty ||editForm.submitted)
                            }" >
                    <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.touched || editProjectName.dirty || editForm.submitted)
                            && editProjectName.errors!['required']" >Project Name can't be blank</span>

                    <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.touched || editProjectName.dirty || editForm.submitted)
                            && editProjectName.errors!['pattern']" >Project Name can contain alphabets, digits, dot, hyphen or space only</span>

                    <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.touched || editProjectName.dirty || editForm.submitted)
                            && editProjectName.errors!['minlength']" >Project name should be at least 3 characters long</span>

                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="txtEditDateOfStart" class="col-sm-3 col-form-lable">Date Of Start</label>
                <div class="col-sm-9">
                   <input type="date" id="txtEditDateOfStart" style="width:180px" class="form-control" 
                      placeholder="Date of Start" name="DateOfStart" [(ngModel)] ="editProject.dateOfStart" #editDateOfStart="ngModel"
                      [ngClass]="{'is-invalid': editDateOfStart.invalid && (editDateOfStart.touched || editDateOfStart.dirty || editForm.submitted),
                                  'is-valid': editDateOfStart.valid && (editDateOfStart.touched || editDateOfStart.dirty || editForm.submitted)
                                }" >
                  
                  <span class="text-danger" *ngIf="editDateOfStart.invalid && (editDateOfStart.touched || editDateOfStart.dirty || editForm.submitted) 
                          && editDateOfStart.errors!['required']" >Date of Start can't be blank</span>

                     <label>{{editProject.dateOfStart}}</label> 
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="txtEditTeamSize" class="col-sm-3 col-form-lable">Team Size</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="editProject.teamSize" name="TeamSize" id="txtEditTeamSize" class="form-control" 
                      placeholder="Team Size" #editTeamSize="ngModel" maxlength="7" pattern="^[0-9]*$" appTeamSizeValidator="5"
                      [ngClass]="{'is-invalid':editTeamSize.invalid &&(editTeamSize.touched || editTeamSize.dirty || editForm.submitted ),
                                  'is-valid':editTeamSize.valid &&(editTeamSize.touched || editTeamSize.dirty || editForm.submitted)
                              }" >
                    <span class="text-danger" *ngIf="editTeamSize.invalid &&(editTeamSize.touched || editTeamSize.dirty || editForm.submitted)
                          && editTeamSize.errors!['pattern'] ">Team Size should be a number</span>
                    <span class="text-danger" *ngIf="editTeamSize.invalid && (editTeamSize.dirty || editTeamSize.touched || editForm.submitted) 
                          && editTeamSize.errors!['divisible']">Team Size should be divisble by 5</span>
                </div>
            </div>
            <div class="form-group row mb-3">
              <label class="col-sm-4 col-form-label" >&nbsp;</label>
              <div class="col-sm-8">
                <div class="form-check">
                    <input type="checkbox" id="chkEditActive" value="true" class="form-check-input" 
                        [(ngModel)]="editProject.active" name="active">
                    <label class="form-check-label" for="chkEditActive" >Active</label>
                </div>
              </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label" for="rbEditStatusInForce">Status</label>
            <div class="col-sm-8">
                <div class="form-check form-check-inline">
                    <input type="radio" id="rbEditStatusInForce" value="In Force" class="form-check-input"
                    name="Status" [(ngModel)]="editProject.status" #editStatusInForce="ngModel" required="required">
                    <label for="rbEditStatusInForce" class="form-check-label">In Force</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="rbEditStatusSupport" value="Support" class="form-check-input"
                    name="Status" [(ngModel)]="editProject.status" #editStatusSupport="ngModel" required="required">
                    <label for="rbEditStatusSupport" class="form-check-label">Support</label>
                </div>
                <span class="text-danger" *ngif="editStatusInForce.invalid &&(editStatusInForce.touched ||editStatusInForce.dirty ||editForm.submitted)
                    && editStatusInForce.errors!['required'] ">Please select status</span>
            </div>
          </div>
          <div class="form-group row mb-3">
              <label class="col-sm-4 col-from-label" for="drpEditClientLocation">Client Location</label>
              <div class="col-sm-8">
                <select id="drpEditClientLocation" class="form-select form-select-sm" name="ClientLocation" 
                    [(ngModel)]="editProject.clientLocationID" #editClientLocationID="ngModel" required="required"
                    [ngClass]="{'is-invalid':editClientLocationID.invalid &&(editClientLocationID.touched || editClientLocationID.dirty || editForm.submitted),
                                'is-valid':editClientLocationID.valid && (editClientLocationID.touched || editClientLocationID.dirty ||editForm.submitted)
                              }" >
                    <option value="null">Please Select</option>
                    <option *ngFor="let clientLocation of clientLocations" [value]="clientLocation.clientLocationID" >
                       {{clientLocation.clientLocationName}} 
                    </option>
                </select>
                <span class="text-danger" *ngIf="editClientLocationID.invalid && (editClientLocationID.touched || editClientLocationID.dirty || editForm.submitted)
                    && editClientLocationID.errors!['required'] " >Please select client location</span>
                
                <span class="text-danger" *ngIf="newForm.invalid && (newForm.dirty || newForm.touched || newForm.submitted) 
                    && (newForm.errors? newForm.errors!['clientLocationStatus'] : false)">Support projects are not allowed at Tokyo</span>  
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="editFormCancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"  (click)="onUpdateClick()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  

  
<form>
    <!-- Delete Modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Delete Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="text-warning">Are you sure to delete this project </div>
              <div class="form-group row mb-3">
                  <label for="txtDeleteProjectId" class="col-sm-3 col-form-lable">Project ID</label>
                  <div class="col-sm-9">
                      <input type="text" [(ngModel)]="deleteProject.projectID" name="ProjectID" id="txtDeleteProjectId" class="form-control form-control-palin-text" disabled="disabled"  placeholder="Project ID" >
                  </div>
              </div>
              <div class="form-group row mb-3">
                <label for="txtDeleteProjectName" class="col-sm-3 col-form-lable">Project Name</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="deleteProject.projectName" name="ProjectName" id="txtDeleteProjectName" class="form-control form-control-palin-text" disabled="disabled" placeholder="Project Name">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDeleteConfirmClick()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  